.top-nav{
    background-color: black;
}

.top-nav a{
    color: white;
    margin: 0%;
    padding: 1px;
}

.rounded-pill{
     background-color: blueviolet;
     color: white;
}

.top-nav img{
   margin-right: 10px;
}

.footermain a{
    text-decoration: none;
}

.footermain-p,a{
    color:black;
}

.discuss-area a {
    text-decoration: none;
}

.discuss-area{
    color: white;
    background-color: rgb(96, 226, 213);
}

a:hover {
   color: rgb(89, 14, 133) !important;
}

.discuss-area-right{
    width: 350px;
    height:45px;
    background-color: aliceblue;
    border-radius: 25px;
} 

.discuss-area-right button{
    color: white;
    border-radius: 20px;
    margin: 4px 4px 0px 0px;
   float: right;
   padding: 7px 15px 7px 15px;
   background-color: rgb(75, 9, 136);
   border:none;
}